*{
    
    margin: auto;
    padding: auto;
}
body{
    margin-top: 20px;
}
.container {
    width: 80%;
    height: 700px;
    border: 1px solid rgb(red, green, blue);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}